var form = document.getElementById("form");
var newForm = document.createElement("div");
newForm.id = "form";
newForm.innerHTML = "<%= j render('form', reservation: @reservation) %>";

form.parentNode.replaceChild(newForm, form);
